/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #8f3333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(250, 247, 247);
    text-decoration: none;
}

.hero {
    background-color: #4caa68;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.intro {
    flex: 2;
    padding: 20px;
}

.sidebar {
    flex: 1;
    padding: 5px;
    background-color: #331c1c42;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .main-content {
        flex-direction: column;
    }
}











/*services.style.css*/
/* Services Section Grid */
.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.service-card {
    border: 1px solid #916f6f;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .services {
        grid-template-columns: 1fr;
    }
}







/*contact.style.css*/

/* Contact Form */
.contact-form {
    padding: 20px;
}

.contact-form label {
  
    display: block;
    margin: 10px 0 5px;
}

.contact-form input, .contact-form textarea {
  background-color: #d3ebd2;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b35f5f;
    border-radius: 5px;
}

.contact-form button {
    background-color: #2da096;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #4c405e;
}

/* Input Focus Animation */
.contact-form input:focus, .contact-form textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .contact-form {
        padding: 15px;
    }
}
